.maincta{
 display: flex;
 justify-content: row;
}


.bgimg img{
    max-width: 100%;
    width: 100%;
    height: 300px;
    position :absolute;
   


}

.text {
    display: flex;
    align-items: center; 
    justify-content: center;
    /* border: 1px solid black; */
    max-width: 100%;
    width:1800px;
    /* margin: 100px; */
    /* position:absolute; */
    /* top: -30px; */
    z-index: 1;

}

.text h3{
        /* line-height: 50px; */
    font-size: 52px;
    width: 800px;
    max-width: 100%;

}

.text button{
    margin-left: 100px;
    padding:15px 29px; 
    font-size: 16px;
    border-radius:8px;
    background-color: black;
    color:azure;
    
}
.text img{
    margin-top: -100px;
}
  
    


@media screen and (max-width: 480px) {
    .text{
        /* position: relative;
        left:500px; */
        display: flex;
        flex-direction: column;
        margin: auto;
        /* justify-co/ntent: center; */
        /* text-align: center; */
        margin-top: 140px;
        font-size: 12px;
    }
    .bgimg img{
        /* max-width: 100%; */
        /* max-width: 2000px; */
        /* width: 2000px; */
        /* height: 500px; */
        height: 704px;
       

    }
   




    }

    









    



        
    





  
  
  
  
  