.allin{
    display: flex;
    flex-direction: column;
     margin-left: 351px;
    margin-top: 175px;
   


}




.something{
    margin-left: 944px;
    display: flex;
    margin-top: -341px;


}
.header{
     
}



.paragraph{
    
    display: flex;

}





.button{

    margin-left: 400px;}