.allin {
    display: flex;
    flex-direction: column;
    margin-left: 351px;
    margin-top: 240px;
    align-items: flex-start;
}

.something {
  margin-left: 944px;
  display: flex;
  margin-top: -341px;
}
.header {
}

.paragraph {
  display: flex;
}

.press {
  margin-left: 400px;
}
