.container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .container img {
    position: relative;
    /* background-color: red; */
  }
  
.box{
  background-color: rgb(255, 253, 253);
  max-width: 100%;
  width: 100%;
  margin: auto;
  justify-content: center;
}
  
  
  .top {
    
    position:absolute;
    top: 10px;
    left: 100px;
    right:100px;
  font-size: xx-large;}


    .whitebar{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background-color: rgb(255, 255, 255);
      position: absolute;
      margin: auto;
      
      max-width: 100%;
   padding: 30px;

  } 
  .full_width{
    width: 100%;
    max-width: 100%;
    justify-content: center;
    display: flex;
  }

   .whitebar img {
    object-fit: contain;
    margin:0px 40px;
   }
.img_width {

    width: 100%;
    max-width: 100%;
    object-fit:cover;
   
}


@media screen and (max-width: 750px) {
  .box {
    display: flex;
    max-width: 100%;
    /* width: 1200px; */
    height: 500px;
   width: 1000px;
  }
    .whitebar{ 
      display: flex;   
       flex-direction: row-reverse;

  }
}
  

  
    
    

    













