.container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .container img {
    position: relative;
    /* background-color: red; */
  }
  
.box{
  background-color: rgb(255, 253, 253);
  max-width: 100%;
  width: 100%;
  margin: auto;
  justify-content: center;
  object-fit: cover;
}
  
  
  .top {
    
    position:absolute;
    top: 10px;
    left: 100px;
    right:100px;
  font-size: xx-large;}


    .whitebar{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background-color: rgb(255, 255, 255);
      position: absolute;
      margin: auto;
      
      max-width: 100%;
   padding: 30px;

  } 
  .full_width{
    width: 100%;
    max-width: 100%;
    justify-content: center;
    display: flex;
  }

   .whitebar img {
    object-fit: contain;
    margin:8px 40px;
   }
.img_width {

    width: 100%;
    max-width: 100%;
    object-fit:cover;
   
}


@media screen and (max-width: 750px) {
  
  .container{
    position: relative;
    left: 500px;
    display: flex;
flex-direction: column;
position: relative;
left: 500px;
/* top: -550px; */
align-items: center;

  }
  
  .box {
    /* display: flex; */
    max-width: 1000px;
    width: 120px;
    height: 600px;
   width: 2000px;
   position: relative;
   right: 500px;
   
   flex-direction: column;
   position: relative;
   /* left: 500px; */
   align-items: center;
   
  }
    .whitebar{ 
      display: flex;   
       flex-direction: row-reverse;

  }
  .whitebar img{
    width: 170px;
  }
}
  

    

/* 
.bg{max-width: 10000px;
  width: 10000px;
}

.flexer{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 500px;
  top: -550px;
  align-items: center;
     */

    













