.first_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  margin: auto;
  justify-content: center;
}

.black_box_button {
  /* display: flex; */
  background-color: #282a3a;
  padding: 14px 24px;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  /* border: none; */
  cursor: pointer;
  margin-top:60px;
}

.star {
  justify-content: space-between;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
    display: flex;
    /* border: 1px solid black; */
    align-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    }




.rates {
  display: flex;
  align-items: center;
  justify-content:center ;
}
.texters {
  font-size: small;
  margin: 8px 10px 100px -10px;
}

.identifying {
  margin: 100px 100px 100px 100px;
width:450px;
max-width: 100%;
}
/* .star { */
  /* display:flex; */
  /* justify-content:space-between ; */
  /* flex-directio+n: row; */
/* } */


.identifying h1{
  font: size 22px;
}

@media screen and (max-width: 480px) {
  .image_target{
    display: none;
    
  }
  /* .identifying{
    position: relative;
    left: 500px;
  } */

  .black_box_button {
    /* display: flex; */
    /* position: relative;
    left: 10px; */
    justify-content: center
    ;
   
  }
  .first_box{
    text-align: center;
  }
  .star {
    /* display:flex; */
    justify-content:space-between ;}
  

  
}











