.black {
    width: 58px;
    height: 58px;
    margin: auto;
    background: #242424;
    border-radius: 8px;
    text-align: center;
    /* border: 1px solid black; */
  
  }
  .msg {
    margin-top: 13px;
  }
  .block {
    /* border: 1px solid black; */
    padding: 12px 14px;
    width: 200px;
    margin: 10px 90px 100px 90px;
    text-align: center;
    justify-content: center;
    /* display: block; */
  }
  .block h3 {
    margin-top: 10px;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #242424;
    text-align: center;
  }
  .block p{
      color: #5A5A5A;
      font-size: 22px;
      text-align: center;
      margin-top: -20px;
  }
  
  .flex{
      display: flex;
      align-items: center;
      justify-content: center;
            margin: 50px auto 50px auto;
            margin-top: 130px;
            /* border: 1px solid black; */
      width: 1280px;
      max-width: 100%;
  }
   .flex{
      flex-direction: row;
  
    }
  
    @media screen and (max-width: 750px) {
    .flex{
  display: flex;
      flex-direction: column;}

      .block {
      
        margin: 1px 1px 1px 1px;
      }
    }
  
    
    
    
    
    
    
    
    
    
    
    
    

