


.bg{
width: 10000px;
max-width: 100%;
position: relative;
height: auto;
object-fit: cover;
height: 600px;

}




.flexer{
    max-width: 100%;
    width: 1000px;
    margin: -34px auto 0px;
    text-align: center;
    position: relative;
    top: -500px;
    justify-content: space-between;
    
}
.non{
    padding: 100px;
    margin:100px;
    position: fixed;
    position: fixed;
    z-index: 2147483003;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    bottom: 20px;
    right: 20px;
    max-width: 48px;
    width: 48px;
    max-height: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FF9D9D;
    cursor: pointer;
    
}



.button90{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;

}

.flexer h3{
    font-size: 52px;

}

.flexer p{
    font-size: 26px;
}


.owner{
    padding: 10px;
    position: relative;
    top: 80px;
}




@media screen and (max-width: 750px) {
    .bg{width: 100%;
        max-width: 100%;
        /* position: relative; */
        height: 750px;}


        .flexer{
      text-align: center;
            top: -600px;
           
        }

}



















/* 
.button1{
    font-size: 6px;
    color: black;
    border-radius: 20px;
    background-color: rgb(247 234 255)
}
 */











/* 
.flexer Image { 
    display: flex;
    width: 100%;
    max-width: 100%;
position: relative;


}



.flexer p{
    border: 1px solid black;
    max-width: 100%;
    margin: auto;
    position: relative;
    top: -340px;
    z-index: 1;

}


.flexer h3{
  
    border: 1px solid black;
    /* max-width: 100%; */
    /* width:1400px; */
    /* margin: auto;
    position:relative;
    top: -350px;
    z-index: 1;
} */ 
