.flex-container {
  background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .navbar_items {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 683px;
    padding:30px 30px ;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .dashboard_button {
    display: flex;
    background-color: #282a3a;
    padding: 14px 24px;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  
  .navbar {
    display: flex;
    max-width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 30px 0px;
  }
  
  
.logo{
  display:flex;
  
}  
  
  
    
  
  
  
  
  