.head{
    display: flex;
    /* justify-content: center; */
    /* max-width: 100%; */
    /* width: 673px; */
    margin: -197px auto auto auto;
    /* margin-bottom: 500px; */
    /* border: 1px solid black; */
    text-align: center;
    flex-direction: column;
    align-items: center;
    }



.head h3{
   
    font-size: 42px;
}
.head p{
  
    font-size: 30px;
    
}


.outter{
 display: flex;
    background-color: black;
    max-width: 100%;
    cursor: pointer;

    width: 65px;

    padding:2px;
    border-radius: 20px;
    /* text-align: center; */




}




.inner{
    border-radius: 100%;
    background-color: white;
    width: 30px;
    padding: auto;
    height: 30px;
}
.left{
    display: flex;
    flex-direction: row;
   max-width: auto;
   margin-left: -22px;
font-size: 18px;
align-items: center;
padding-left: 50px;


}
.right{
    display: flex;
    flex-direction: row-reverse;
   max-width: auto;
   margin-right: auto;
font-size: 18px;
align-items: center;
padding-right: 50px;
}

.price{
    display: block;
    margin: auto;
    /* padding-top: 200px; */
    padding-bottom: 200px;
    max-width: 1000px;
    width: 100%;
    
  
    background-color: black;
    box-sizing: border-box;} 


@media screen and (max-width: 750px) {
    .over{
        /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    /* position: relative; */
    /* left: 500px; */
    /* bottom: 60px; */
    align-items: center;
}
}