 .pure{ 
   display: flex;
   flex-wrap: wrap;
   /* flex-direction: row; */
   justify-content: center;
   margin: 100px auto 100px auto;

   max-width: 100%;
   width: 1200px;
   border: 1px solid rgb(244, 244, 244);;
 }
 .pure div {
    border: 1px solid rgb(255, 255, 255);
    padding: 22px;
    width: 300px;
 }

 .joji{ margin: 151px 0px 0px 0px;
display: flex;
justify-content: space-evenly;
font-size: 100px;
font-weight: 300px;
line-height: 52px;
font-size: 42px;
font-weight: 700;
}

.black{
  background-color: black;
  border-radius: 50%;
  width:60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.first{
  font-weight: 100px;
}
  
  
@media screen and (max-width: 750px) {

  .glimpse{
    display: flex;
    flex-direction: column;
  justify-content: center;
    position: relative;
    left: 500px;

}
  
}