.buttons {
  /* display: flex; */
  width: 340px;
  /* border: 1px solid black; */
}
.buttons button {
  cursor: text;
  margin: 12px 12px 12px 0px;
}
.button_one {
  background-color: #fff4dc;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  /* margin-top: -121px; */
  font-size: 18px;
}
.button_two {
  background-color: #f7eaff;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 18px;
}
.button_three {
  background-color: #eff5ff;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 18px;
}
.button_four {
  background-color: #ffdfdf;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 18px;
}
.button_five {
  background-color: #eeeeee;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 18px;
}
@keyframes mymove {
  from {
    right: 0px;
  }
  to {
    right: 200px;
  }
  to {
    left: 0px;
  }
  from {
    left: 200px;
  }
}
@media screen and (max-width: 1300px) {
  .flex_one .img .img_img {
    max-width: 100%;
    width: 600px;
    height: auto;
    max-height: auto;
  }
  .block h2 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700px;
    font-size: 22px;
    line-height: 53px;
    color: #242424;
    /* border: 1px solid rgb(255, 0, 0); */
    width: 370px;
  }
  .block {
    width: 400px;
  }
}
@media screen and (max-width: 480px) {
  .flex_one {
    display: flex;
    flex-wrap: wrap; 
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 10px 10px;
    /* border: 1px solid black; */
  }
  .flex_one .img .img_img {
     /* border: 1px solid black;  */
    width: 400px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: -40px auto 10px auto;
  }
  .block {
    text-align: center !important;
    /* border: 1px solid black; */
    margin: auto;
  }
  .block h2 {
    margin: auto;
    font-size: 20px;
  }
  .block p {
    margin: 16px auto !important;
    /* border: 2px solid brown; */
    width: 300px !important;
  }
  .buttons {
    margin: auto;
  }

  .flex_two {
    /* border: 1px solid black; */
    /* display: block !important; */
    align-items: center !important;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    max-width: 100%;
    justify-content: center !important;
    margin: auto !important;
  }
  .flex_two .img .img_img {
    width: 400px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto !important;
    /* border: 1px solid black; */
  }
  .block2 {
    justify-content: center;
    text-align: center !important;
    /* border: 1px solid black; */
    margin: auto;
  }
  .block2 h2 {
    margin: auto;
    font-size: 20px;
  }
  .block2 p {
    margin: 16px auto !important;
    /* border: 2px solid brown; */
    width: 300px !important;
  }
  .launch {
    /* border: 1px solid black; */
    width: 100%;
    max-width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    height: fit-content;
    /* position: absolute; */
  }
  .flex_launch {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: -370px !important;
    max-width: 100%;
  }
  .bground {
    position: relative;
    height: 510px;
  }
  .launch_img {
    width: 100px;
    height: auto;
  }
  .flex_launch .button {
    margin: 20px auto;
    /* border: 1px solid black; */
    justify-content: center !important;
  }
  .flex_one_flex {
    margin-top: 700px !important;
    position: absolute;
    /* border: 1px solid black; */
    padding: 10px 10px;
    width: 100%;
    max-width: 100%;
  }
  .block_block {
    text-align: center;
    /* border: 1px solid black; */
    width: 600px !important;
    margin: 60px auto 0px auto;
  }
  .block_block p {
    margin: auto;
    /* border: 1px solid black; */
  }
  .shadow_three .button {
    margin: auto;
  }
}
@media screen and (max-width: 360px) {
  .bground{
    height: 800px;
  }
  .flex_launch {
    margin-top: -650px !important;
    /* border: 1px solid black; */
  }
}
@media screen and (max-width: 360px) {
  .bground {
    height: 480px;
    object-fit: cover;
  }
  .flex_launch{
    margin-top: -600px !important;
  }
  .shadow_two::after {
    width: 500px;
    margin-left: 10px;
  }
  .shadow_two .button {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  /* .topics{position: relative;
  left: 500px;} */
  .bground {
    height: 480px ;
    /* display: none; */
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    margin-bottom: -10px;
  }
  .flex_launch {
    margin-top: -600px !important;
    /* border: 1px solid black; */
  }
  .shadow_two::after {
    width: 500px;
    margin-left: 10px;
  }
  .shadow_two .button {
    width: 300px;
  }
  .flex_one{
    /* border: 1px solid black; */
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }
  

}
.topics{
  width: 100%;
  max-width: 100%;
  
}
.flex_one {
  width: 1280px;
  margin: auto;
  max-width: 100%;

  position: relative;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin-top: -121px; */
  animation: mymove 2s infinite;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-duration: 4.5s;
}
.img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.block {
  display: block;
  /* border: 1px solid red; */
  /* width: 500px; */
  /* margin-left: 150px; */
}
.block h2 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 53px;
  color: #242424;
  /* border: 1px solid black; */
  width: 370px;
}
.block p {
  font-weight: 300;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  color: #5a5a5a;
  margin: 12px 0px;
  width: 370px;
  /* border: 1px solid black; */
}
.img {
  margin-top: 70px;
}

@keyframes mysecondmove {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
  to {
    right: -200px;
  }
  from {
    right: -0px;
  }
}
 
.flex_two {
  width: 1280px;
  max-width: 100%;
  position: relative;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0px auto;
  animation: mysecondmove 2s infinite;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-duration: 4.5s;
  /* border: 1px solid red; */
}
.block2 {
  display: block;
  /* border: 1px solid red; */
  width: 500px;
  max-width: 100%;
  /* margin-left: 100px; */
}
.block2 h2 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 53px;
  color: #242424;
}
.block2 p {
  font-weight: 300;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #5a5a5a;
  margin: 12px 0px;
  /* width: 410px; */
}

.bground {
  /* border: 1px solid black; */
  /* max-height: 100%; */
  position: relative;
  width: 100%;
  max-width: 100%;
}
.launch {
  margin-top: 50px;
}
.flex_launch {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: -260px;
  justify-content: center;
  /* border: 1px solid black; */
}
.flex_launch h2 {
  /* border: 1px solid black; */
  width: 570px;
  font-size: 42px;
  letter-spacing: -2px;
  line-height: 65px;
  margin: 0px 40px 0px 40px;
}
.launch_img {
  /* position: absolute; */
  margin-top: -110px;
  margin-right: -10px;
}
.button {
  width: 250.07px;
  height: 56px;
  transition-duration: 1s;
  transition: 1s;
  background: #282a3a;
  border-radius: 8px;
  padding: 10px 16px;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  /* margin-top: px; */
  /* margin-left: 30px; */
  margin-right: -50px;
  position: relative;
  transition-delay: 0.3s;
  transition: 0.6s;
}